<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="php_ogr">
            <directory suffix=".php">src/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>